[*.cs]

# CS1591: Missing XML comment for publicly visible type or member
dotnet_diagnostic.CS1591.severity = none

# API1000: Action returns undeclared status code.
dotnet_diagnostic.API1000.severity = silent
